<section intro columns>
  <div flex>
    <h2>Biography</h2>
    <p>{{ .Biography }}</p>
  </div>
  <div contacts>
    {{ range $entry := .Contact }}
    <p><i class="{{ $entry.Icon }}"></i><a href="{{ $entry.Link }}">{{ $entry.Text }}</a></p>
    {{ end }}
  </div>
</section>
<section columns>
  <section experience flex>
    {{ template "section" dict "root" . "name" "experience" "key" "experience1" }}
  </section>
  <section flex>
    <div>
      {{ template "section" dict "root" . "name" "&nbsp;" "key" "experience2" }}
    </div>

    <div>
      {{ template "section" dict "root" . "name" "education" }}
    </div>
  </section>
</section>
<section columns break-before>
  <section flex>
    <div>
      {{ template "section" dict "root" . "name" "publications" }}
    </div>

    <div>
      {{ template "section" dict "root" . "name" "certifications" }}
    </div>
  </section>
  <section experience flex>
    {{ template "section" dict "root" . "name" "references" }}
  </section>
</section>