{{- define "entry" }}
  {{ $entry := index . "entry" }}
  {{ $section := index . "section" }}
  <div {{ oneof $section.Attribute "entry" }} {{ if $section.Small }}small{{ end }}>
    <div bubble></div>
    <h3>{{ $entry.Title }}</h3>
    <h4>{{ $entry.Subtitle }}</h4>
    {{ if $entry.Text }}<p>{{ $entry.Text }}</p>{{ end }}
    {{ if $entry.Keywords }}<p keywords>{{ strjoin $entry.Keywords ", " }}</p>{{ end }}
    {{ if $entry.Link }}<p><a href="{{ .Link }}">{{ $entry.Link }}</a></p>{{ end }}
    {{ if $entry.Mail }}<p><a href="mailto:{{ .Mail }}">{{ $entry.Mail }}</a></p>{{ end }}
  </div>
{{ end -}}

{{- define "section" }}
  {{ $root := index . "root" }}
  {{ $name := index . "name" }}
  {{ $key := or (index . "key") $name }}
  <h2>{{ $name }}</h2>
  {{ $section := index $root.Sections $key }}
  {{- range $entry := $section.Items }}
    {{ template "entry" dict "entry" $entry "section" $section }}
  {{- end }}
{{ end -}}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glenn Dirkx CV - <%= htmlWebpackPlugin.options.date %></title>
</head>
<body page="A4">
  <section header columns>
    <div avatar></div>
    <div flex>
      <h1>Glenn Dirkx</h1>
      <p>Tech enthousiast<br>
         Passionate about cloud, SRE, and dinosaurs<br>
         Builds stuff and sometimes things</p>
      <p languages>English | Nederlands</p>
    </div>
    <div version-info>
      <p><%= htmlWebpackPlugin.options.date %></p>
      <a href="https://juravenator.dev">
        <p>juravenator.dev</p>
        <img qr src="static/qr.png" alt="">
      </a>
    </div>
  </section>