@import '../../node_modules/@fortawesome/fontawesome-free/css/all.css';

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/Montserrat-Light.ttf');
}

$text-color-1: rgb(68, 70, 71);
$text-color-2: lighten($text-color-1, 30%);

$header-green: rgb(1, 87, 43);
$header-dark: #1a1818;

$line-color: lighten(#c7c9ca, 15%);

[page='A4'] {
  background: white;
  font-family: 'Montserrat';
  font-size: 0.22cm;
  // height: 29.7cm;
  width: 21cm;
  /* padding: 30mm 45mm 30mm 45mm;  */

  [header] {
    background-image: url('../../backgrounds/header_bg.png');
    /* background-size: cover; */
    background-position: right -574px bottom 620px;
    background-size: 1500px 1000px;

    display: flex;
    flex-direction: row;
    margin: 0;
    padding-left: 17.8mm;
    padding-right: 17.8mm;
    padding-top: 13.3mm;

    [avatar] {
      background-image: url('../../avatars/DSC_0529_crop.JPG');
      background-size: cover;
      border: 1px solid white;
      border-radius: 5cm;
      height: 3cm;
      margin-bottom: 0.5cm;
      margin-right: 0.5cm;
      width: 3cm;
    }

    h1 {
      // font-size: 22pt;
      font-size: 0.8cm;
      font-weight: bold;
      letter-spacing: 1px;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
    }

    p {
      color: white;
      font-size: 0.3cm;
      font-weight: 200;
      letter-spacing: 1px;

      &[languages] {
        font-size: 0.2cm;
      }
    }

    [version-info] {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      justify-content: end;

      p {
        font-size: 0.25cm;
        margin: 0;
        text-align: right;
      }

      a {
        text-align: right;

        p {
          margin-bottom: 0.1cm;
        }
      }

      img {
        &[qr] {
          height: 75px;
          image-rendering: pixelated;
          margin-bottom: 0.5cm;
          width: 75px;
        }
      }
    }

  }

  [intro] {
    align-items: center;
    border-bottom: 1px solid $line-color;
    padding-top: 5px;
    padding-bottom: 5px;

    p {
      color: $text-color-1;
      font-weight: 200;
      letter-spacing: 1px;
      line-height: 2.5em;

      &:last-child {
        margin-bottom: 0.5cm;
      }
    }

    h2 {
      margin-bottom: 0;
    }

    [contacts] {
      p {
        align-items: center;
        display: flex;
        margin: 0;
      }

      i {
        font-size: 0.3cm;
        margin-right: 0.4cm;
        width: 13px;
      }
    }
  }

  [entry],
  [publication],
  [reference] {
    padding-left: 0.3cm;
  }

  [entry] {
    border-left: 1px solid $line-color;
    margin: 0;
    position: relative;

    &[small] {
      border-left-color: white;

      h3 {
        font-size: 0.25cm;
      }

      h4 {
        font-size: 0.2cm;
      }
    }

    &:last-child {
      border-left-color: white;
    }

    [bubble] {
      background: $header-green;
      border: 0.1cm solid white;
      border-radius: 0.3cm;
      height: 0.12cm;
      // left: -.12cm - 0.04cm;
      left: -(0.12cm + 0.1cm *2) /2 - 0.01cm;
      position: absolute;
      top: 0;
      width: 0.12cm;
    }

    h3,
    h4,
    p {
      font-weight: normal;
      margin: 0;
    }

    h3 {
      color: $header-dark;
      font-size: 0.3cm;
      letter-spacing: 1px;
      margin-bottom: 0.1cm;
    }
    
    h4 {
      color: $text-color-1;
      font-size: 0.25cm;
      letter-spacing: 1px;
      margin-bottom: 0.2cm;
    }
  
    p:last-child {
      padding-bottom: 0.3cm;
    }

    p {
      color: $text-color-1;
      font-size: 0.22cm;
      font-weight: 200;
      line-height: 1.3em;

      b {
        font-weight: 500;
      }

      &[keywords] {
        color: $text-color-2;
        font-size: 0.2cm;
        margin-top: 0.2cm;
      }
    }
  }

  [publication],
  [reference] {
    margin: 0.2cm 0;

    p {
      margin: 0;
    }

    a {
      color: $text-color-1;
    }
  }

  [publication] {
    [title] {
      margin-bottom: 0.3em;
    }
  }

  [reference] {
    p {
      font-size: 0.25cm;
      margin-bottom: 0.3em;
    }
  }

  >* {
    margin-left: 17.8mm;
    margin-right: 17.8mm;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  h2 {
    color: $header-green;
    font-size: 0.35cm;
    letter-spacing: 2px;
    margin: 1.5em 0;
    text-transform: uppercase;
  }

  [columns] {
    display: flex;
    flex-direction: row;

    >*:first-child {
      margin-right: 0.5cm;
    }

    [flex] {
      flex: 1;
    }
  }
}
