@media screen {
  html {
    background: rgb(204, 204, 204);
  }
}

body {
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  display: block;
  margin: 0 auto;
  position: relative;

  @media print {
    box-shadow: none;
  }
}

@page {
  margin: 0;
  size: A4;
}

section[break-before] {
  padding-top: 13.3mm;
  page-break-before: always;
}